body{ background-color: #AC9362;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font family: Arial, sans-serif;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 325px;
  height: 200px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 25%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}